.DS_Store
.idea/shelf
/android.tests.dependencies
/confluence/target
/dependencies
/dist
/gh-pages
/ideaSDK
/android-studio/sdk
/out
/tmp
workspace.xml
*.versionsBackup
/idea/testData/debugger/tinyApp/classes*
/jps-plugin/testData/kannotator
/ultimate/dependencies
/ultimate/ideaSDK
/ultimate/out
/ultimate/tmp
/js/js.translator/testData/**/out/
.gradle/
build/
bin/
target/
!**/src/**/build
target/classes/META-INF/main.kotlin_module
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/Kotlin-Basics/Kotlin-Basics/pom.properties
target/classes/META-INF/maven/Kotlin-Basics/Kotlin-Basics/pom.xml
target/classes/org/kotlinbasics/FactorialKt.class
target/classes/org/kotlinbasics/FunctionKt$main$1.class
target/classes/org/kotlinbasics/FunctionKt$main$2.class
target/classes/org/kotlinbasics/FunctionKt$main$3.class
target/classes/org/kotlinbasics/FunctionKt$main$4.class
target/classes/org/kotlinbasics/FunctionKt$main$5.class
target/classes/org/kotlinbasics/FunctionKt.class
target/classes/org/kotlinbasics/HelloFromJavaKt.class
target/classes/org/kotlinbasics/HelloKotlinKt.class
target/classes/org/kotlinbasics/InterpolationKt.class
target/classes/org/kotlinbasics/TestFactorial.class
target/test-classes/org/kotlinbasics/Factorial.kt
